html {
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#navbar a {
    margin: .5rem;
    font-size: .9rem;
    color: #000;
}

#navbar .nav-link {
    margin-top: 4px;
}

#navbar .nav-link:hover {
    text-decoration: underline;
}

#img-link {
    display: inline-flex;
    justify-content: center;
    transition: all .2s;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid rgba(189, 189, 189, 0);
}

#img-link img {
    border-radius: 50%;
}

#img-link:hover {
    border: 1px solid rgb(189, 189, 189);
}

#apps {
    transition: all .2s;
    border-radius: 50%;
    padding: 8px;
}

#apps:hover {
    background-color: rgb(223, 223, 223);
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main img {
    width: 17rem;
    margin-top: 10%;
}

#main .my-input {
    border-radius: 30px;
    border: 1px solid rgb(231, 231, 231);
    width: 30%;
    padding: .8rem 1rem;
    margin: 2rem;
    /* box-shadow: 0px 4px 5px 0 rgba(0, 0, 0, 0.3); */
}

#main .my-input:hover {
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.1);
}

#main .my-input:focus-within {
    box-shadow: 0px 4px 5px 0 rgba(0, 0, 0, 0.3);
}

#main .my-input:focus-within ~ .links {
    display: none;
}

#main .history, #main .buttons {
    display: none;
}

#main #hr {
    display: none;
    border-bottom: 1px solid rgb(224, 224, 224);
    margin-bottom: .8rem;
    margin-top: .3rem;
}

#main input {
    outline: none;
    border: none;
    width: 88%;
    position: relative;
    top: -7px;
    left: .4rem;
    font-size: 1.1rem;
}

#main input:focus ~ .history,
/* #main input:focus ~ .buttons, */
#main input:focus ~ #hr {
    display: block;
}

.history li > span:first-child {
    /* font-size: 1rem; */
}

.history li {
    display: grid;
    grid-template-columns: 5% 85% 10%;
    align-items: center;
    margin-bottom: .5rem;
    color: #52188c;
    font-size: 1.1rem;
}

.clock, .remove {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1rem;
}

#main input:focus ~ .buttons {
    display: flex;
    justify-content: center;
}

#main .links {
    margin-top: .5rem;
    /* display: none; */
}

#main .btn-2, #main .btn {
    margin-right: .8rem;
    margin-bottom: 1.8rem;
    padding: .6rem 1rem;
    font-size: .9em;
    color: #333;
    background: rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(0, 0, 0, 0);
}

#main .btn-2:hover, #main .btn:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.languages {
    font-size: .9rem;
    margin-left: 2rem;
}

.languages a {
    margin-left: .3rem;
    color: rgb(1, 1, 167);
}

.languages a:hover {
    text-decoration: underline;
}

footer {
    /* margin-top: 34vh; */
    position: fixed;
    top: 90vh;
    width: 100%;
    color: rgba(0, 0, 0, 0.6);
}

footer div {
    background-color: rgba(0, 0, 0, 0.05);
    padding: .8rem 2rem;
}

.country {
    border-bottom: 1px solid #ccc;
}

.footer, .footer ul {
    display: flex;
    justify-content: space-between;
}

.footer li {
    margin-right: 1.5rem;
}

.footer a {
    color: rgba(0, 0, 0, 0.6);
}

.footer a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1580px) {
    #main .my-input {
        width: 40%;
    }
}

@media screen and (max-width: 1200px) {
    #main .my-input {
        width: 50%;
    }
}

@media screen and (max-width: 960px) {
    #main .my-input {
        width: 70%;
    }

    .footer .right-ul {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    #main .my-input {
        width: 80%;
    }

    .footer {
        display: none;
    }

    .country {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    #main .my-input {
        width: 90%;
    }

    #main input {
        width: 85%;
    }
}

@media screen and (max-width: 430px) {
    #main input {
        width: 80%;
    }

    .history li {
        font-size: 1rem;
    }
    
    .clock, .remove {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 316px) {
    #main img {
        width: 15rem;
    }

    #main input {
        width: 70%;
    }

    #main input:focus ~ .history,
    #main input:focus ~ .buttons,
    #main input:focus ~ #hr {
        display: none;
    }

    .history, .buttons, #hr {
        display: none;
    }

    .links .btn-2 {
        display: none;
    }
}